In [1]:
import pandas as pd

In [2]:
from sqlalchemy import create_engine

In [23]:
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw="",
                               db="imdb"))

In [4]:
data_title_akas = pd.read_csv('unzip/title.akas.tsv', sep='\t')

/usr/local/Cellar/jupyterlab/3.0.8/libexec/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3155: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [28]:
data_head = data_title_akas.head(15)

In [ ]:
for i in range(len(data_title_akas)):
    try:
        data_title_akas.iloc[i:i+1].to_sql(name="title_akas",if_exists='append',con = Engine)
        print(i)
    except:
          print(str(i) + "An exception occurred")

In [15]:
data_head

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0
5,tt0000001,6,Carmencita,US,\N,\N,\N,0
6,tt0000001,7,Carmencita,\N,\N,original,\N,1
7,tt0000001,8,カルメンチータ,JP,ja,imdbDisplay,\N,0
8,tt0000002,1,Le clown et ses chiens,\N,\N,original,\N,1
9,tt0000002,2,A bohóc és kutyái,HU,\N,imdbDisplay,\N,0

In [ ]:
for i in range(4433, len(data_head)):
    try:
        print (i)
        data_head.iloc[i:i+1].to_sql('title_akas', con = engine, if_exists = 'append', chunksize = 1000)
    except:
          print(str(i) + "An exception occurred")

In [ ]:
for i in range(4433, len(data_title_akas)):
    try:
        print (i)
        data_title_akas.iloc[i:i+1].to_sql('title_akas', con = engine, if_exists = 'append', chunksize = 1000)
    except:
          print(str(i) + "An exception occurred")

In [5]:
data_title_akas.iloc[0:2]

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0

In [6]:
data_title_akas.iloc[2:4]

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0

In [11]:
data1 = data_title_akas.iloc[85272:100000]

In [12]:
data1.to_sql('title_akas', con = engine, if_exists = 'append', chunksize = 1000)

In [13]:
data2 = data_title_akas.iloc[100000:1000000]

In [14]:
data2.to_sql('title_akas', con = engine, if_exists = 'append', chunksize = 1000)

In [15]:
data3 = data_title_akas.iloc[1000000:10000000]

In [16]:
data3.to_sql('title_akas', con = engine, if_exists = 'append', chunksize = 1000)

In [17]:
data4 = data_title_akas.iloc[10000000:20000000]

In [18]:
data4.to_sql('title_akas', con = engine, if_exists = 'append', chunksize = 1000)

In [19]:
data5 = data_title_akas.iloc[20000000:]

In [ ]:
data5.to_sql('title_akas', con = engine, if_exists = 'append', chunksize = 1000)

In [21]:
data6 = data_title_akas.iloc[20000000:20105000]

In [24]:
data6.to_sql('title_akas', con = engine, if_exists = 'append', chunksize = 1000)

In [25]:
data7 = data_title_akas.iloc[20106000:]

In [26]:
data7.to_sql('title_akas', con = engine, if_exists = 'append', chunksize = 1000)