In [1]:
import pandas as pd

In [2]:
data_title_crew = pd.read_csv('unzip/title.crew.tsv', sep='\t')

In [3]:
data_title_crew.head(10)

      tconst            directors    writers
0  tt0000001            nm0005690         \N
1  tt0000002            nm0721526         \N
2  tt0000003            nm0721526         \N
3  tt0000004            nm0721526         \N
4  tt0000005            nm0005690         \N
5  tt0000006            nm0005690         \N
6  tt0000007  nm0374658,nm0005690         \N
7  tt0000008            nm0005690         \N
8  tt0000009            nm0085156  nm0085156
9  tt0000010            nm0525910         \N

In [4]:
data_title_crew.to_csv ('crew.csv', index = False, header=True)