In [1]:
import pandas as pd

In [3]:
data_name_basics = pd.read_csv('unzip/name.basics.tsv', sep='\t')

In [11]:
data_head = data_name_basics.head(10)

In [12]:
from sqlalchemy import create_engine

In [17]:
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw="",
                               db="imdb"))

In [7]:
data_head.to_sql('name_basics', con = engine, if_exists = 'append', chunksize = 1000)

In [8]:
x

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0031983,tt0072308,tt0050419,tt0053137"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0037382,tt0038355,tt0117057,tt0075213"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,music_department","tt0049189,tt0057345,tt0056404,tt0054452"
3,nm0000004,John Belushi,1949,1982,"actor,soundtrack,writer","tt0078723,tt0080455,tt0072562,tt0077975"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0060827,tt0050976,tt0050986,tt0069467"
5,nm0000006,Ingrid Bergman,1915,1982,"actress,soundtrack,producer","tt0038787,tt0034583,tt0038109,tt0077711"
6,nm0000007,Humphrey Bogart,1899,1957,"actor,soundtrack,producer","tt0043265,tt0034583,tt0033870,tt0042593"
7,nm0000008,Marlon Brando,1924,2004,"actor,soundtrack,director","tt0047296,tt0078788,tt0068646,tt0070849"
8,nm0000009,Richard Burton,1925,1984,"actor,soundtrack,producer","tt0057877,tt0087803,tt0061184,tt0059749"
9,nm0000010,James Cagney,1899,1986,"actor,soundtrack,director","tt0031867,tt0042041,tt0029870,tt0035575"

In [14]:
type(data_head)

pandas.core.frame.DataFrame

In [15]:
type(data_name_basics)

pandas.core.frame.DataFrame

In [18]:
data_name_basics.to_sql('name_basics', con = engine, if_exists = 'append', chunksize = 1000)

In [19]:
data_name_basics.count()

nconst               10745136
primaryName          10745136
birthYear            10745136
deathYear            10745136
primaryProfession     8485034
knownForTitles       10745136
dtype: int64